// Main content area should account for fixed navbar
.main-content {
  margin-top: 64px; // Height of navbar
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

// App layout
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Footer should stick to bottom
app-footer {
  margin-top: auto;
}
